
<div class="row">
    <div class="col-md-4">
      <h4 >Your name goes here</h4>
    </div>

  <div class="col-md-4">
  </div>

  <div class="col-md-4">
    <button class="btn btn-danger" (click)="goCreate()"> + New Project</button>
  </div>
</div>

<div class="row">

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">project Name</h5>
        <p class="card-text">Project desc</p>
        <a href="#" class="btn btn-primary">Go to the Project</a>
      </div>
    </div>
  </div>
</div>
